.container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .subContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
  }

  .title {
    color: white;
  }
}
